.table-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.table-body {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
